* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Take care with these values
    font-size: 62.5%;

    @include respond(br1){
        font-size: 56.25%;
    }
    @include respond(br3){
        font-size: 53%;
    }
}

// font-family: 'Nunito Sans', sans-serif;

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;

    padding-top: 7rem;

    @include respond(br1) {
        padding-top: 6rem;
    }
}

// ::selection {
//     background-color: ;
//     color: ;
// }

img.responsive {
    width: 100%;
    height: auto;
    display: block;
}

.u-vpadding {
    padding: 17rem 0;

    @include respond(br4) {
        padding: 10rem 0;
    }

    &--small {
        padding: 10rem;
    
        @include respond(br4) {
            padding: 7rem;
        }
    }
}



.color-section {
    &--primary {background-color: $color-primary;}
    &--secondary {background-color: $color-secondary;}
    &--tertiary {background-color: $color-tertiary;}
    &--grey-light {background-color: $color-grey-light-1;}
}

.skew-down {
    transform: skewY(6deg);

    & > * {
        transform: skewY(-6deg);
    }
}

.skew-up {
    transform: skewY(-6deg);

    & > * {
        transform: skewY(6deg);
    }
}

// Are these even used?
.u-flex {
    display: flex;
}
.u-flex-align-center {
    align-items: center;
}
.u-flex-justify-center {
    justify-content: center;
}

.u-text-center {
    text-align: center;
}

::-moz-selection {
    color: #fff;
    background: $color-primary;
}
::selection {
    color: #fff;
    background: $color-primary;
}