.header {
    & .row,
    & .grid {
        height: 100%;
    }

    & .grid > * {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(br4) {
            align-items: center;
            text-align: center;
        }
    }
}