.splide__slide {
    padding: 2.5rem;

    @include respond(br4) {
        padding: 1rem;
    }
}

.splide-full .splide__slide {
    padding: 0;

    @include respond(br4) {
        padding: 0;
    }
}