.btn-update {
    &,
    &:active,
    &:visited,
    &:focus {
        font-family: inherit;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        padding: .5rem 1rem;
        border-radius: .4rem;
    }

    display: flex;
    flex-direction: row;
    align-items: center;

    &::before {
        content: "Update(";
    }

    &::after {
        content: ")";
    }

    // Color
    &--tertiary {
        background-color: $color-tertiary;
        color: #fff;
    }
    
    &--tertiary &__text {
        color: $color-tertiary;
        background-image: linear-gradient(to bottom,
        #fff, 
        #fff 50%, $color-secondary 50%, 
        $color-secondary);
    }

    &--tertiary:hover &__text {
        color: #fff;
    }

    // functionality
    &__text {
        margin: 0 .2rem;
        padding: .3rem .5rem;
        -webkit-box-shadow: inset 0 0 1rem -0.2rem rgba(0,0,0,0.4);
        -moz-box-shadow: inset 0 0 1rem -0.2rem rgba(0,0,0,0.4);
        box-shadow: inset 0 0 0.75rem -0.1rem rgba(0, 0, 0, 0.4);
        background-size: 100% 200%;
        transition: .2s ease;
    }
    &:hover &__text {
        background-position-y: 100%;
    }
}