.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 0 5rem;

    display: flex;
    align-items: stretch;
    // border-bottom: 1px solid rgb(212, 212, 212);
    -webkit-box-shadow: 0px .5rem .5rem 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px .5rem .5rem 0px rgba(0,0,0,0.1);
    box-shadow: 0px .5rem .5rem 0px rgba(0,0,0,0.1);
    background-color: #fff;

    @include respond(br5){
        padding: 0 1.5rem;
    }

    //LOGO
    &__logo {
        padding: .5rem;
        height: 6.5rem;
        margin-right: auto;

        @include respond(br1) {
            height: 5.5rem;
        }
    }

    //MENU
    &__menu {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        list-style: none;
        color: $color-grey-dark;

        @include respond(menuMin) {
            display: flex;
        }

        @include respond(menuMax) {
            display:none;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            background-image: linear-gradient(rgba(#fff, 0.7), rgba(#fff, 0.7)), url(../img/circuits1.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            -webkit-box-shadow: 0px .5rem .5rem 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px .5rem .5rem 0px rgba(0,0,0,0.1);
            box-shadow: 0px .5rem .5rem 0px rgba(0,0,0,0.1);

             // Place scroll-bar on the right
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: calc(100vh - 5.5rem);

            padding: 0 5rem;
        }

        @include respond(br5) {
            padding: 0 1.5rem;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        //sub-menu requires
        position: relative;
        // Place scroll-bar on the right

        @include respond(menuMax) {
            flex-basis: auto;
            flex-direction: column;
            align-items: flex-end;
        }
        @include respond(menuMax-2) {
            flex-basis: 0;
        }
        &:not(:last-child) {
            margin-right: 4rem;

            @include respond(menuMax){
                margin-right: 0;
            }
        }
    }

    &__item:hover > &__sub-menu {
        display: block;
    }

    // If a search component is in the menu
    .search {
        margin-right: 4rem;

        @include respond(br5) {
            margin: 0 1rem;
            flex: 1;
        }
    }

    &__link {
        color: currentColor;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.4rem;
        position: relative;

        &:hover {
            color: $color-grey-dark;
        }

        @include respond(menuMax) {
            padding: .5rem 0;
            font-weight: 800;
            text-align: right;
        }
    }

    // SUB-MENU
    &__sub-menu {
        display: none;
        list-style-type: none;
        padding: 2rem;
        @include dropdown;
        

        @include respond(menuMax) {
            background-color: unset;
            display: block;
            position: static;
            transform: unset;
            border: unset;
            border-radius: unset;
            border-right: 1px solid $color-tertiary;
            padding: 0;
            box-shadow: unset;
        }

        &::before {
            content: "";
            position: absolute;
            top: -.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-bottom: 1rem solid $color-tertiary;

            @include respond(menuMax) {
                content: unset;
            }
        }
    }

    &__sub-item {
        &:not(:last-of-type) {
            margin-bottom: 2rem;

            @include respond(menuMax) {
                margin: 0;
            }
        }

        @include respond(menuMax) {
            padding: .5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 1rem;
        }
    }

    &__sub-link {
        &,
        &:active,
        &:focus {
            color: currentColor;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.4rem;

            @include respond(menuMax) {
                text-align: right;
            }
        }
        
        &:hover {
            color: $color-tertiary;
            text-decoration: underline;
        }
    }

    //BUTTON
    &__button {
        align-self: center;
        display: none;
        color: $color-grey-dark;
        cursor: pointer;

        &:hover {
            color: $color-grey-dark-2;
        }

        &.active {
            color: $color-tertiary;
        }

        @include respond(menuMax) {
            display: block;
        }
    }


    // Event when clicking button
    &__button.active ~ &__menu {
        display: flex;
    }

    &__burger {
        width: 3.5rem;
        height: .3125rem;
        background-color: currentColor;
        transition: all .3s;
        transform-origin: left;

        &:not(:last-child) {
            margin-bottom: .75rem;
        }
    }


    /*****************************
    **** ACCOUNT SECTION
    ******************************/
    &__account {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        & >*:not(:last-child) {
            margin-right: 4rem;
        }

        @include respond(menuMax) {
            margin-top: 1rem;
            flex: 1;
            flex-basis: 100%;
            justify-content: flex-end;
            background-color: $color-grey-light-1;
            position: relative;
            padding: 1rem 1px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 6rem;
                height: 100%;
                background-color: $color-grey-light-1;
            }
            &::before {
                right: calc(100% - 1px);
            }
            &::after {
                left: calc(100% - 1px);
            }
        }
    }

    // LOG IN

    &__log-in {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__log-in-btn {
        &,
        &:active,
        &:focus,
        &:visited {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.4rem;
            position: relative;
            background-image: linear-gradient(to right, #455aa4, #ed7d26);
            border-radius: 10rem;
            padding: 1rem 2.4rem;
            color: #fff;
            font-weight: bold;
            white-space: nowrap;
            transition: all .2s, box-shadow .2s;
        }
        
        &:hover {
            transform: translateY(-0.2rem);
            -webkit-box-shadow: 0px .5rem 1rem 0px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px .5rem 1rem 0px rgba(0,0,0,0.2);
            box-shadow: 0px .5rem 1rem 0px rgba(0,0,0,0.2);
        }
    }
}