.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(212, 212, 212);
    background-color: #fff;
    
    @include respond(br4){
        flex-wrap: wrap;
    }
    @include respond(br5){
        padding: .5rem 1.5rem;
    }

    //LOGO
    &__logo {
        padding-right: 4rem;
        height: 6rem;
        margin-right: auto;

        @include respond(br1) {
            height: 5rem;
        }
    }

    //MENU
    &__menu {
        display: block;
        list-style: none;

        @include respond(menu) {
            display: block;
        }

        @include respond(br4){
            display:none;

            margin-top: 1rem;
            flex: 1 0 100%;
            background-color: #fff;
            border-top: .7rem solid #000;
            color: #000;
        }
    }

    &__item {
        display: inline-block;
        position: relative;

        @include respond(br4){
            display: block;
            &:not(:last-child) > *{
                border-bottom: 1px solid #000;
            }
        }

        &:not(:last-child) {
            margin-right: 4rem;
            @include respond(br4){
                margin-right: 0;
            }
        }
    }

    // move to pages section ?
    .search {
        margin-right: 4rem;
    }

    &__link {
        display: block;
        color: currentColor;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        position: relative;

        @include respond(br4){
            padding: 1.5rem 2rem;
        }
    }

    //BUTTON
    &__button {
        display: none;
        color: $color-tertiary;
        cursor: pointer;

        @include respond(br4) {
            display: block;
        }
    }

    &__burger {
        width: 4.2rem;
        height: .4rem;
        background-color: currentColor;
        transition: all .3s;
        transform-origin: left;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}