.footer {
    padding-top: 10rem;
    padding-bottom: 5rem;
    background-color: $color-primary;

    &__logo {
        width: 100%;
        height: auto;
        max-width: 25rem;
    }

    &__heading {
        color: #fff;
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;

        display: flex;
        align-items: center;
    }

    &__title {
        color: #fff;
        margin-bottom: 5rem;
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: .3rem;
        text-transform: uppercase;

        @include respond(br5) {
            margin-bottom: 3rem;
        }
    }

    &__icon-box {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
        fill: $color-secondary;
    }

    &__link {
        &,
        &:active,
        &:focus,
        &:visited {
            //color: $color-grey-footer;
            color: #fff;
            text-decoration: none;
        }

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }

    &__text {
        //color: $color-grey-footer;
        color: #fff;
    }

    &__legal {
        //color: $color-grey-dark;
        color: #fff;
    }

    &__filler {
        @include respond(br4) {
            display: none;
        }

        &::before {
            content: " ";
        }
    }

    &__newsletter {
        margin-bottom: .5rem;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        font-family: inherit;
        font-weight: 400;
        font-size: 1.8rem;

        & > * {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
        }
    }

    &__input[type=email] {
        outline-color: $color-secondary;
        border: 0;
        margin: 0;
        padding: .5rem 1rem;
        flex: 1;
        min-width: 1px;
    }

    &__submit {
        text-transform: uppercase;
        margin: 0;
        padding: .5rem 1rem;
        border-radius: unset;
        color: #fff;
        outline-color: currentColor;
        background-color: $color-tertiary;
        border: 0;
    }
}