.header {
    width: 100%;
    padding: 10rem 0;
    
    // v-padding but should be local
    @include respond(br4) {
        padding: 5rem 0;
    }

    &__img {
        width: 100%;
        height: auto;

        @include respond(br4) {
            width: 50%;
            min-width: 30rem;
            margin: 0 auto;
        }
    }
}